site_name: Ressources pédagogiques – E. Le Prettre
site_url: https://e-leprettre.github.io/

theme:
  name: material
  language: fr
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.top

nav:
  - Accueil: index.md

